[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "my_plugins/ale"]
	path = my_plugins/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "my_plugins/coc.nvim"]
	path = my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "my_plugins/gruvbox"]
	path = my_plugins/gruvbox
	url = https://github.com/morhetz/gruvbox.git
